net "clk" loc = "V10";

net "clr" loc="T5";
net "she" loc="V8";
net "dir" loc="U8";
net "wr" loc="N8";

net "rr1[0]" loc="M8";
net "rr2[0]" loc="V9";
net "wrr[0]" loc="T9";
net "wrd[0]" loc="T10";

net "rd1[1]" loc="T11";
net "rd1[0]" loc="R11";
net "rd2[1]" loc="N11";
net "rd2[0]" loc="M11";

net "wrd[1]" loc="A8";
