net "clk" loc="E3" | iostandard = "LVCMOS33";

net "a[11]" loc="P4" | iostandard = "LVCMOS33";
net "a[10]" loc="P3" | iostandard = "LVCMOS33";
net  "a[9]" loc="R3" | iostandard = "LVCMOS33";
net  "a[8]" loc="T1" | iostandard = "LVCMOS33";
net  "a[7]" loc="T3" | iostandard = "LVCMOS33";
net  "a[6]" loc="U2" | iostandard = "LVCMOS33";
net  "a[5]" loc="V2" | iostandard = "LVCMOS33";
net  "a[4]" loc="U4" | iostandard = "LVCMOS33";
net  "a[3]" loc="V5" | iostandard = "LVCMOS33";
net  "a[2]" loc="V6" | iostandard = "LVCMOS33";
net  "a[1]" loc="V7" | iostandard = "LVCMOS33";
net  "a[0]" loc="R5" | iostandard = "LVCMOS33";

net "d[24]" loc="H6" | iostandard = "LVCMOS33";
net "d[23]" loc="K5" | iostandard = "LVCMOS33";

net "d[22]" loc="L3" | iostandard = "LVCMOS33";
net "d[21]" loc="N1" | iostandard = "LVCMOS33";
net "d[20]" loc="L5" | iostandard = "LVCMOS33";
net "d[19]" loc="L4" | iostandard = "LVCMOS33";
net "d[18]" loc="K3" | iostandard = "LVCMOS33";
net "d[17]" loc="M2" | iostandard = "LVCMOS33";
net "d[16]" loc="L6" | iostandard = "LVCMOS33";

net "d[15]" loc="P2" | iostandard = "LVCMOS33";
net "d[14]" loc="R2" | iostandard = "LVCMOS33";
net "d[13]" loc="U1" | iostandard = "LVCMOS33";
net "d[12]" loc="P5" | iostandard = "LVCMOS33";
net "d[11]" loc="R1" | iostandard = "LVCMOS33";
net "d[10]" loc="V1" | iostandard = "LVCMOS33";
net "d[9]" loc="U3" | iostandard = "LVCMOS33";
net "d[8]" loc="V4" | iostandard = "LVCMOS33";

net "d[7]" loc="U6" | iostandard = "LVCMOS33";
net "d[6]" loc="U7" | iostandard = "LVCMOS33";
net "d[5]" loc="T4" | iostandard = "LVCMOS33";
net "d[4]" loc="T5" | iostandard = "LVCMOS33";
net "d[3]" loc="T6" | iostandard = "LVCMOS33";
net "d[2]" loc="R8" | iostandard = "LVCMOS33";
net "d[1]" loc="V9" | iostandard = "LVCMOS33";
net "d[0]" loc="T8" | iostandard = "LVCMOS33";
